// CHANGELOG PAGE


.changelog-page {
	@include lightTheme;
	
	section {
		@extend %default-page-layout;
		background: rgba(black,0.02);
		position: relative;
		
		padding: {
			left: 60px;
			right: 20px;
		}
		
		&::before {
			content: "";
			width: 1px;
			height: 100%;
			position: absolute;
			left: 42px;
			top: 0px;
			background: rgba(#3D4B4E,0.2);
		}
		
	
		.btn {
			width: auto;
			color: white;
			box-shadow: inset 0px -2px 0px rgba(black, 0.2);
			
			&:hover {
				box-shadow: inset 0px -2px 0px rgba(black, 0.2), 0px 6px 10px rgba(black,0.1);
			}
			
			@include breakpoint(mobile) {
				span {
					@include hide;
				}
			}
		}
		
		@include breakpoint(from-tablet) {
			padding: {
				left: 100px;
				right: 40px;
				top: 50px;
			}
			
			&::before {
				left: 50px;
			}
		}
		
		@include breakpoint(from-desktop-sml) {
			padding: {
				left: 180px;
				right: 150px;
				top: 50px;
			}
			
			&::before {
				left: 130px;
			}
		}
	}
	
	h2 {
		@include breakpoint(mobile) {
			padding: {
				left: 30px;
			}
		}
	}
	
	h3 {
		opacity: 0.2;
		font: {
			family: "Open Sans", helvetica, arial, sans-serif;
			size: 0.7em;
		}
		margin: {
			bottom: 30px;
		}
		
		
		@include breakpoint(mobile) {
			padding: {
				left: 30px;
			}
		}
	}
	
	ul {
		padding: {
			left: 30px;
		}
	}
	
	li {
		color: #364D54;
		font: {
			family: "Open Sans", helvetica, arial, sans-serif;
			size: 0.8em;
			weight: 300;
		}
		
		@include breakpoint(from-tablet) {
			font: {
				size: 1em;
			}
		}
	}
	
	p {
		font: {
			size: 1em;
		}
	}
}

.version {
	width: 65px !important;
	height: 40px;
	color: white !important;
	border-radius: 3px;
	display: inline-block;
	text-align: center;
	padding-top: 7px;
	position: absolute;
	left: 10px;
	margin-top: 4px;
	
	@include breakpoint(from-tablet) {
		left: 17px;
	}
	
	@include breakpoint(from-desktop-sml) {
		left: 100px;
	}
}

.minor {
	.version {
		background: #73BE68;
	}
	
	h2 {
		color: #73BE68;
	}
	
	.btn {
		background: #73BE68;
	}
}
.major {
	.version {
		background: #2BBFB1;
		font-weight: 700;
	}
	
	h2 {
		color: #2BBFB1;
	}
	
	.btn {
		background: #2BBFB1;
	}
}