// DOCS PAGE
// ----------------------------------

.docs-page {
	@include lightTheme;
	
	& > header section {
		text-align: left !important;
		
		@include breakpoint(from-tablet) {
			padding: 20px 0px 40px 0px;
		}
	}
}

.definitionBlock section {
	margin-top: 40px;
}

#ratios {
	& > div {
		@include columns((1,2), $margin: 1px, $target: div) {
			@include exampleBox;
			@include docsBox;
		}
	}
	
	& > div:nth-child(6) {
		@include columns((10,1,10), $margin: 1px, $target: div) {
			@include exampleBox;
			@include docsBox;
			border: 1px soilid red;
		}
		margin-top: 40px;
	}
}

#bootstrap {
	& > div:nth-child(3) {
		@include columns((1,11), $margin: 1px, $target: div);
	}
	
	& > div:nth-child(4) {
		@include columns((2,10), $margin: 1px, $target: div);
	}
	
	& > div:nth-child(5) {
		@include columns((3,9), $margin: 1px, $target: div);
	}
	
	& > div:nth-child(6) {
		@include columns((4,8), $margin: 1px, $target: div);
	}
	
	& > div:nth-child(7) {
		@include columns((5,7), $margin: 1px, $target: div);
	}
	
	& > div:nth-child(8) {
		@include columns((6,6), $margin: 1px, $target: div);
	}
	
	& > div:nth-child(9) {
		@include columns((1), $margin: 1px, $target: div);
	}
	
	& > div > div {
		@include exampleBox;
		@include docsBox;
	}
}

#uneven-columns {
	@include columns((5), $margin: 1px, $target: div) {
		@include exampleBox;
		@include docsBox;
	};
}

#nested-containers .example {
	@include columns((1,4), $margin: 1px, $target: div) {
		height: 300px;
	};
	
	.sidebar {
		@include docsBox;
	}
	
	.article {
		@include columns((2), $margin: 0px 1px 1px 1px, $target: div) {
			@include exampleBox;
			@include docsBox;
		};
	}
	
	aside {
		@include columns((5,1), $margin: 1px 1px 0px 1px, $target: div) {
			@include exampleBox;
			@include docsBox;
			height: 238px;
		};
	}
}


#container-align .example {
	@include columns((1,2), $margin: 1px, $container-width: 75%, $container-align:center, $target: div) {
		@include exampleBox(false);
		@include docsBox;
	};
	
	.example-right {
		@include hide();
	}
	
	@include breakpoint(from-desktop) {
		@include container-align("right");
		
		.example-right {
			@include show();
		}
		.example-center {
			@include hide();
		}
	}
}

#container-width .example {
	@include columns((1,1), $margin: 1px, $container-width: 100%, $container-align:center, $target: div) {
		@include exampleBox;
		@include docsBox;
	};
	
	@include breakpoint(from-desktop) {
		@include container-width(80%);
	}
}


#order {
	@include columns((1,4,1), $order: (2,1,3), $margin: 1px, $target: div) {
		@include exampleBox;
		@include docsBox;
	}
}

#gutters {
	@include columns((2), $margin: 5px, $target: div) {
		@include example;
	}
}

#flush-padding .doc-example {
	@include columns((3), $margin: 5px, $flush-padding: true) {
		height: auto;
		padding: 20px;
		text-align: center;
		text-align: justify;
		@include example(column);
	}
}

#media-query .doc-example {
	@include columns((2), $margin: 2px) {
		@include example;
		text-align: center;
		padding: 0px;
	}
	
	$color-breakpoints: (
		mobile,
		phablet,
		tablet,
		desktop-sml,
		desktop-mid,
		desktop-lrg
	);
	
	$i: 0;
	@each $break in $color-breakpoints {
		$i: $i + 1;
		
		& > p:nth-child(#{$i}) {
			@include breakpoint($break) {
				background: $primary;
			}
		}
	}
}

#show-hide .doc-example {
	@include columns(1, $margin: 2px, $container-width: 100%) {
		@include exampleBox;
		@include docsBox;
		text-align: center;
		padding: 0px;
	}
	
	p {
		@include hide();
	}
	
	@include breakpoint(from-phablet) {
		@include container-width(75%);
	}
	
	@include breakpoint(from-desktop) {
		@include container-width(50%);
	}
	
	& > p:nth-child(1) {
		@include show(mobile);
	}

	& > p:nth-child(2) {
		@include show(phablet);
	}
	
	& > p:nth-child(3) {
		@include show(tablet);
	}
	
	& > p:nth-child(4) {
		@include show(desktop-sml);
	}
	
	& > p:nth-child(5) {
		@include show(desktop-mid);
	}
	
	& > p:nth-child(6) {
		@include show(desktop-lrg);
	}	
}

.doc-example + p {
	margin-top: 1em;
}



.definitionBlock {
	@extend %default-page-layout;
	background: rgba(black,0.02);
}


.definition {
	@include columns(1);
	background: white;
	border: 1px solid rgba(#364D54,0.16);
	margin: {
		bottom: 40px;
	}
	padding: 20px;
	border-radius: 5px;
	
	code {
		font-size: 0.7em;
	}
}

dl {
	@include columns(1) {
		@extend .indent0;
		color: #364D54;
	};
	
	dd {
		margin: {
			bottom: 30px;
		}
	}
	
	@include breakpoint(from-tablet) {
		@include columns((2));
		
		dd {
			margin: {
				bottom: 0px;
			}
		}
	}
}

dl + h4 {
	margin: {
		top: 40px;
	}
}

.definition dl {
	dt, dd {
		&:after {
			content: ",";
		}
	}
	dt, dd {
		&:last-of-type:after {
			content: none;
		}
	}
}
