// DOCS PAGE
// ----------------------------------

.definitionBlock section {
	margin-top: 40px;
}

#ratios > div {
	@include columns((1,2), $margin: 0.5px, $target: div) {
		@include exampleBox;
	};
}

#bootstrap {
	& > div:nth-child(3) {
		@include columns((1,11), $margin: 0.5px, $target: div);
	}
	
	& > div:nth-child(4) {
		@include columns((2,10), $margin: 0.5px, $target: div);
	}
	
	& > div:nth-child(5) {
		@include columns((3,9), $margin: 0.5px, $target: div);
	}
	
	& > div:nth-child(6) {
		@include columns((4,8), $margin: 0.5px, $target: div);
	}
	
	& > div:nth-child(7) {
		@include columns((5,7), $margin: 0.5px, $target: div);
	}
	
	& > div:nth-child(8) {
		@include columns((6,6), $margin: 0.5px, $target: div);
	}
	
	& > div:nth-child(9) {
		@include columns((1), $margin: 0.5px, $target: div);
	}
	
	& > div > div {
		@include exampleBox;
	}
}

#uneven-columns {
	section {
		@include columns((5), $margin: 0.5px, $target: div) {
			@include exampleBox;
		};
	}
}

.definitionBlock {
	@include columns(1);
	padding: 40px 20px;
	
	@media #{$from-tablet} {
		padding: 30px 100px;
	}
	
}


.definition {
	@include columns(1);
	background: rgba(#1D2C2F,0.2);
	margin: {
		top: 40px;
	}
	padding: 30px;
	border-radius: 5px;
}

dl {
	@include columns(1) {
		@extend .indent0;
	};
	
	dd {
		margin: {
			bottom: 30px;
		}
	}
	
	@media #{$from-tablet} {
		@include columns((1.5,1));
		
		dd {
			margin: {
				bottom: 0px;
			}
		}
	}
}

.definition dl {
	dt, dd {
		&:after {
			content: ",";
		}
	}
	dt, dd {
		&:last-of-type:after {
			content: none;
		}
	}
}
