// FAQ PAGE
// ----------------------------------
.faq-page {
	& > section {
		@extend %default-page-layout;
		background: rgba(black,0.02);
		
		@include breakpoint(from-tablet) {
			padding: {
				left: 150px;
				right: 150px;
				top: 50px;
			}
		}
	}
	@include lightTheme;
	
	& > header section {
		text-align: left !important;
		
		@include breakpoint(from-tablet) {
			padding: 20px 0px 40px 0px;
		}
	}
	
	h2 {
		font-size: 1.4em;
	}
}

// h1, h2, h3, h4, h5, h6 {
// 	& a:hover:after { 
// 		content: "link";
// 		position: relative;
// 		left: 1em;
// 		font-size: 0.5em;
// 		line-height: 1em;
// 		vertical-align: middle;
// 		opacity: 0.5;
// 	}
// }