
// Base indent class
%indent-base {
	font: {
		family: "fira mono", monaco;
		size: 0.8em;
	}
	
	i {
		color: $accent1;
		font: {
			style: normal;
		}
	}
}

// Create indent classes
$max-indent: 3;

@for $i from 0 through $max-indent {
	.indent#{$i} {
		@extend %indent-base; 
		
		@if $i > 0 {
			margin-left: $i * 30px;
		}
	}
}
