// LANDING PAGE

#introLogo {
	margin: {
		bottom: 20px;
		top: 40px;
	}
	width: 100px;
	height: 100px;
	background: url(../img/logo.svg) no-repeat;
	background-size: contain;
	display: inline-block;
	
	@include breakpoint(from-phablet) {
		width: 150px;
		height: 150px;
	}
	
	@include breakpoint(from-tablet) {
		margin: {
			bottom: 20px;
		}
		width: 250px;
		height: 250px;
	}
}


.copyIntro {
	font: {
		size: 1.1em;
		family: "Open Sans", helvetica, arial, sans-serif;
		weight: 300;
	}
	text: {
		align: center;
	}
	line-height: 1.5em;
	letter-spacing: -0.46px;
	padding: {
		bottom: 20px;
	}
	
	@include breakpoint(from-phablet) {
		font: {
			size: 1em;
		}
	}
	
	@include breakpoint(from-tablet) {
		font: {
			size: 1.55em;
		}
		padding: {
			bottom: 30px;
		}
	}
}

.copyIntro + .btn {
	margin: {
		bottom: 20px;
	}
	display: inline-block;
}

.docsLink {
	display: inline-block;
	margin: {
		bottom: 30px;
		top: -10px;
	}
	
	@include breakpoint(from-tablet) {
		margin: {
			top: 30px;
		}
	}
	
}

.infoBlock {
	@include columns(1);
	padding: 40px 20px;
	
	@include breakpoint(from-tablet) {
		padding: 100px;
	}
}



#intro {
	@include columns((1), $target: span);
	padding: 0px 20px;
	text: {
		align: center;
	}
	
	@include breakpoint(from-tablet) {
		padding: 20px 100px;
	}
}

#flexibility {
	@include columns(5, $margin: 1px, $target: span) {
		@include darkExampleBox;
	};
	overflow: hidden;
	min-height: 140px;
	
	
	.indent0 {
		animation: fadeIn;
		position: relative;
		top: 10px;
	}
	
	@include breakpoint(from-tablet) {
		@include columns(5, $margin: 1px, $target: span) {
			height: 120px;
		};
				
		& > span {


		}
	}
}

#column-input {
	width: 30px;
	background: none;
	border: none;
	-webkit-appearance: none;
	appearance: none;
	text-align: center;
	padding: 0;
	color: $accent1 !important;
}

#compare {
	@include columns(1, $target: ".codeblock");
	background: #1D2D2F;
	position: relative;
	
	// .topRight {
	// 	width: 50%;
	// 	height: 30px;
	// 	position: absolute;
	// 	right: 0px;
	// 	top: -30px;
		
	// 	img {
	// 		position: absolute;
	// 		bottom: 0px;
	// 		width: 100%;
	// 	}
	// }
	
	// .topLeft {
	// 	width: 50%;
	// 	height: 30px;
	// 	position: absolute;
	// 	left: 0px;
	// 	top: 0px;
		
	// 	img {
	// 		position: absolute;
	// 		top: 0px;
	// 		width: 100%;
	// 	}
	// }
	
	// .bottomLeft {
	// 	width: 50%;
	// 	height: 30px;
	// 	position: absolute;
	// 	left: 0px;
	// 	bottom: -30px;
		
	// 	img {
	// 		position: absolute;
	// 		top: 0px;
	// 		width: 100%;
	// 	}
	// }
	
	// .bottomRight {
	// 	width: 50%;
	// 	height: 30px;
	// 	position: absolute;
	// 	right: 0px;
	// 	bottom: 0px;
		
	// 	img {
	// 		position: absolute;
	// 		bottom: 0px;
	// 		width: 100%;
	// 	}
	// }
		
	.hrtabs {
		margin: {
			top: 47px;
			bottom: 30px;
		}
		clear: left;
	}
	
	.codeblock div {
		animation: fadeInUp
	}
	
	div[data-tabs] {
		min-height: 310px;
	}
		
	@include breakpoint(from-tablet) {
		@include columns(2, $margin: 40px 10px, $target: ".codeblock");
		
		span:last-child {
			@include columns(1, $target: div);
		}
	}
	
	@include breakpoint(tablet) {
		h3 {
			font-size: 1.1em;
			margin-right: 20px;
		}
		
		h3[data-tabs*="frameworks.tab.foundation"] {
			margin: 0px;
		}
	}
	
	#otherFrameworks {
		@include hide(mobile);
		@include hide(phablet);
	}
}

.landing-page h3 {
	margin: {
		right: 40px;
	}
	
	&:last-of-type {
		margin-right: 0px;
	}
	
	&[data-tabs*=".tab."] {
		cursor: pointer;
		float: left;
		display: block;
		opacity: 0.6;
	}
	
	&[data-tabs$=".active"],
	&.active {
		opacity: 1;
		font: {
			weight: 500;
		}
	}
}


#powerful {
	.example1 {
		@include columns((5), $margin: 1px, $target: span) {
			@include darkExampleBox;
			height: 60px;
			text-align: center;
			padding: 0px;
			font: {
				size: 2em;
			}
		};
	}
	
	.example2 {
		@include columns(5, $order:(5,4,1,3,2), $margin: 1px, $target: span) {
			@include darkExampleBox;
			height: 60px;
			text-align: center;
			padding: 0px;
			font: {
				size: 2em;
			}
		};
	}
	background: rgba(black, 0.02);
	overflow: hidden;
	
	
	.indent0 {
		animation: fadeIn;
		position: relative;
		top: 10px;
	}
	
	@include breakpoint(from-tablet) {
		.example1 {
			@include columns((5), $margin: 1px, $target: span) {
				height: 120px;
				font: {
					size: 4.05em;
				}
			};
		}
		
		.example2 {
			@include columns(5, $order:(5,4,1,3,2), $margin: 1px, $target: span) {
				height: 120px;
				font: {
					size: 4.05em;
				}
			};
		}
	}
	
	h3 {
		margin-top: 40px;
	}
}

.infoBlock#compare, 
.infoBlock.flexible,
#powerful.infoBlock {
	background-size: 50% auto;
	background-origin: border-box;
	background-repeat: no-repeat;
}
.infoBlock.flexible {
    background-image: url("/assets/img/triangleTopRight.svg");
    background-position: right bottom;
}
.infoBlock#compare {
    background-image: url("/assets/img/traingleTopLeft.svg"), url("/assets/img/triangleBottomRight.svg");
    background-position: left top, right bottom;
}
#powerful.infoBlock {
    background-image: url("/assets/img/triangleBottomLeft.svg");
    background-position: top left;
}

.infoBlock.flexible {
	background-color: rgba(black, 0.02);
}