// MIXINS
@mixin exampleBox($vertical-align: true) {
	background: rgba($accent1,0.1);
	height: 60px;
	line-height: 60px;
	vertical-align: middle;
	text-align: right;
	padding: {
		right: 20px;
	}

	p {
		@if $vertical-align == true {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			transform-style: preserve-3d;
		}
		
		@include hide(mobile);
			
		font: {
			family: "fira mono", monaco;
			size: 0.7em;
		}
  	}
}

@mixin darkExampleBox($vertical-align: true) {
	@include exampleBox($vertical-align);
	
	color: $accent1;
}

@mixin docsBox {
	background: rgba($primary, 0.4);
}

@mixin example($type: box, $theme: light, $align: left) {
	
	font: {
		family: "fira mono", monaco;
		size: 0.7em;
	}
	
	// TYPES
	@if $type == box {
		height: 60px;
		line-height: 60px;
		vertical-align: middle;
	}
	
	@if $type == column {
		line-height: 1.6em;
	}
	
	// THEMES
	@if $theme == light {
		background: rgba($primary, 0.4);
	}
	
	@if $theme == dark {
		background: rgba($accent1,0.1);
	}
	
	// ALIGN
	@if $align == right {
		text-align: right;
		padding: {
			right: 20px;
		}
	}

}

@mixin lightTheme {
	background: #FFFFFE;
	
	p, h2, h3, h4, h5 {
		color: #364D54;
	}
	
	h2, h3 {
		font-weight: 500;
	}
	
	h3 code {
		font-size: 0.7em;
	}
	
	p {
		font-size: 0.8em;
	}
	
	section a, footer a {
		color: #73BE68;
	}
}

//ANIMATIONS
@keyframes slide {
	from { background-position: left 100%; }
	to { background-position: left 0%; }
}

//GENERATED STYLES

// Base indent class
%indent-base {
	font: {
		family: "fira mono", monaco;
		size: 0.8em;
	}
	
	i {
		color: $accent1;
		font: {
			style: normal;
		}
	}
}

// Create indent classes
$max-indent: 3;

@for $i from 0 through $max-indent {
	.indent#{$i} {
		@extend %indent-base; 
		
		@if $i > 0 {
			margin-left: $i * 30px;
		}
	}
}
