// MIXINS
@mixin exampleBox($vertical-align: true) {
	background: rgba($accent1,0.1);
	height: 60px;
	color: $accent1;
	text-align: right;
	vertical-align: middle;
	padding: {
		right: 20px;
	}
	line-height: 60px;
	
	p {
		@if $vertical-align == true {
			// Disabled, not sure why it's here and it's causing layout issues.
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			transform-style: preserve-3d;
		}
			
		font: {
			family: "fira mono", monaco;
			size: 0.7em;
		}
  	}
}

@mixin docsBox {
	background: rgba($primary, 0.4);
}

@mixin lightTheme {
	background: #FFFFFE;
	
	p, h2, h3, h4, h5 {
		color: #364D54;
	}
	
	h2, h3 {
		font-weight: 500;
	}
	
	h3 code {
		font-size: 0.7em;
	}
	
	p {
		font-size: 0.8em;
	}
	
	a {
		color: #73BE68;
	}
}

//ANIMATIONS
@keyframes slide {
	from { background-position: left 100%; }
	to { background-position: left 0%; }
}

//GENERATED STYLES

// Base indent class
%indent-base {
	font: {
		family: "fira mono", monaco;
		size: 0.8em;
	}
	
	i {
		color: $accent1;
		font: {
			style: normal;
		}
	}
}

// Create indent classes
$max-indent: 3;

@for $i from 0 through $max-indent {
	.indent#{$i} {
		@extend %indent-base; 
		
		@if $i > 0 {
			margin-left: $i * 30px;
		}
	}
}
